body {
  /*background: lightblue;*/
  font-family: "Oswald";
}

.row {
  padding: 0 20px;
}

ul {
  list-style: none;
  padding: 20px 0;
}
ul li {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 1.5em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  word-wrap: break-word;
}
ul li:hover {
  background: #f3f3f3;
}
ul li span {
  float: right;
}

small {
  color: #999;
}


.styleNavBar .navbar {
    background: #3cb9b2;
}


.styleNavBar .nav {
    background: #3cb9b2;
}


.styleNavBar .navbar .collapse {

    justify-content: space-between;
}


.nav-link {
    color: white;
    font-family: 'Roboto' !important;
    font-size: 15px !important;
    padding-top: 10px;
    padding-bottom: 10px !important;
}

.nav-link:hover{
    background-color: white;
    color:#3cb9b2;
    border-radius: 0px;
    /* padding-bottom: 15px !important; */
}

.nav-link.active{
    background-color: white ;
    color:#3cb9b2 ;
    /* padding-bottom: 15px !important; */
}
.topMostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #7c7d81;
}

.topMost{
  display: flex;
  justify-content: space-between;
}
.logoImage {
    max-width: 10%;
}


[class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-builder {
  background: #fff;
}

.container {
  background: #fff;
  padding-bottom: 40px;
  padding-top: 20px;
}

.fav {
  background: orange;
}

.glyphicon {
  padding-right: 5px;
  color: #333;
}

.btn-primary .glyphicon, .btn-danger .glyphicon {
  padding-right: 5px;
  color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd).favorite, .table-striped > tbody > tr:nth-of-type(even).favorite {
  background: rgba(234, 88, 114, 0.2);
}
.table-striped > tbody > tr:nth-of-type(odd).favorite .glyphicon-heart, .table-striped > tbody > tr:nth-of-type(even).favorite .glyphicon-heart {
  color: #EA5872;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2a9df4;
   /*background-color: grey;*/
   color: white;
   text-align: center;

}
.favorite-btn .on .glyphicon-heart {
  color: #EA5872;
}
form {
  padding-bottom: 10px;
  padding-top: 10px;
}

footer[class^=col-] {
  opacity: 0.5;
  margin-top: 40px;
}
footer[class^=col-] img {
  height: 30px;
}

th {
  cursor: pointer;
}

table {
  min-width: 500px;
  width: 100%;
}

.table-wrap {
  overflow-x: auto;
  width: 100%;
}
